<.header>
  New Wizard
  <:subtitle>Use this form to manage wizard records in your database.</:subtitle>
</.header>

<.wizard_form changeset={@changeset} action={~p"/wizards"} />

<.back navigate={~p"/wizards"}>Back to wizards</.back>
