<h1>About</h1>

<p>This is the Pensieve app, built using Elixir and Phoenix.</p>
<p>
  &copy; <%= Date.utc_today().year %>
  <%= if Date.leap_year?(Date.utc_today) do %>
    (a leap year)
  <% else %>
    (not a leap year)
  <% end %>
</p>
